<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>name</key>
		<string>Toyota RZ</string>
		<key>slug</key>
		<string>toyota_rz</string>
		<key>shield</key>
		<string>toyota</string>
		<key>ranking</key>
		<string>1</string>
		<key>points</key>
		<string>298</string>
		<key>pilots</key>
		<array>
			<string>thiago_marques</string>
			<string>galid_osman</string>
			<string>ricardo_zonta</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Jorge Salmini</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2012</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>JLM Racing</string>
		<key>slug</key>
		<string>jlm_racing</string>
		<key>shield</key>
		<string>honda</string>
		<key>ranking</key>
		<string>2</string>
		<key>points</key>
		<string>276</string>
		<key>pilots</key>
		<array>
			<string>vicente_orige</string>
			<string>ricardo_mauricio</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Juliano Moro</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2012</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>FullTime Sports</string>
		<key>slug</key>
		<string>fulltime_sports</string>
		<key>shield</key>
		<string>honda</string>
		<key>ranking</key>
		<string>3</string>
		<key>points</key>
		<string>242</string>
		<key>pilots</key>
		<array>
			<string>felipe_gama</string>
			<string>alceu_feldmann</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Maurício Ferreira</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2011</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>Amir Nasr Racing</string>
		<key>slug</key>
		<string>amir_nasr_racing</string>
		<key>shield</key>
		<string>ford</string>
		<key>ranking</key>
		<string>4</string>
		<key>points</key>
		<string>212</string>
		<key>pilots</key>
		<array>
			<string>vitor_meira</string>
			<string>thiago_camilo</string>
			<string>valdeno_brito</string>
			<string>vitor_genz</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Amir Nasr</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2011</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>Toyota Bassani</string>
		<key>slug</key>
		<string>toyota_bassani</string>
		<key>shield</key>
		<string>toyota</string>
		<key>ranking</key>
		<string>5</string>
		<key>points</key>
		<string>202</string>
		<key>pilots</key>
		<array>
			<string>pedro_nunes</string>
			<string>denis_navarro</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Eduardo Bassani</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2011</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>J. Star Racing</string>
		<key>slug</key>
		<string>j_star_racing</string>
		<key>shield</key>
		<string>chevrolet</string>
		<key>ranking</key>
		<string>6</string>
		<key>points</key>
		<string>161</string>
		<key>pilots</key>
		<array>
			<string>allam_khodair</string>
			<string>leandro_romera</string>
			<string>marcus_leao</string>
			<string>wilson_pinheiro</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Elso Jordão</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2012</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>Officer ProGP</string>
		<key>slug</key>
		<string>officer_progp</string>
		<key>shield</key>
		<string>mitsubishi</string>
		<key>ranking</key>
		<string>7</string>
		<key>points</key>
		<string>96</string>
		<key>pilots</key>
		<array>
			<string>fernando_nienkotter</string>
			<string>leonardo_nienkotter</string>
			<string>luir_miranda</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Duda Pamplona</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2011</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>Carlos Alves Competições</string>
		<key>slug</key>
		<string>carlos_alves_competicoes</string>
		<key>shield</key>
		<string>chevrolet</string>
		<key>ranking</key>
		<string>8</string>
		<key>points</key>
		<string>79</string>
		<key>pilots</key>
		<array>
			<string>julio_campos</string>
			<string>kreis_jr</string>
			<string>gustavo_martins</string>
			<string>gabriel_casagrande</string>
			<string>renato_constantino</string>
			<string>marco_cozzi</string>
			<string>lauro_aita_carvalho</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Carlos Alves</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2011</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>Petrópolis Competições</string>
		<key>slug</key>
		<string>petropolis_competicoes</string>
		<key>shield</key>
		<string>mitsubishi</string>
		<key>ranking</key>
		<string>9</string>
		<key>points</key>
		<string>57</string>
		<key>pilots</key>
		<array>
			<string>eduardo_rocha</string>
			<string>andre_bragantini</string>
			<string>cleber_schuler</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Élio Seikel</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2013</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>Cesinha Competições</string>
		<key>slug</key>
		<string>cesinha_competicoes</string>
		<key>shield</key>
		<string>ford</string>
		<key>ranking</key>
		<string>10</string>
		<key>points</key>
		<string>49</string>
		<key>pilots</key>
		<array>
			<string>cesar_bonilha</string>
			<string>carlos_souza</string>
			<string>jaidson_zini</string>
		</array>
		<key>meta</key>
		<array>
			<dict>
				<key>key</key>
				<string>aa_team_leader</string>
				<key>label</key>
				<string>Chefe de Equipe</string>
				<key>value</key>
				<string>Tarso Marques Lima</string>
			</dict>
			<dict>
				<key>key</key>
				<string>a_debut</string>
				<key>label</key>
				<string>Estréia</string>
				<key>value</key>
				<string>2013</string>
			</dict>
		</array>
	</dict>
</array>
</plist>